body, html {  
  margin: 0;  
  padding: 0;  
  height: 100%;  
}  

body {  
  font-family: Arial, sans-serif;   
  background-color: #f8f9fa;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 100vh;  
}  

.background-blur {  
  position: fixed;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  background-image: url('../images/雪之下.jpg');  
  background-repeat: no-repeat;  
  background-position: center;  
  background-size: cover;  
  filter: brightness(80%); 
  z-index: -1; 
}  

.container {  
  background-color: #ffffff49;
  padding: 20px;  
  border-radius: 8px;  
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 600px;  
  text-align: center;  
}  

.logo {  
  font-size: 80px;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 0 0 10px #ff9dff80;
}  

.form-group {  
  margin-bottom: 40px;  
  font-size: 1em;
}  

.form-group label {  
  display: block;  
  margin-bottom: 10px;  
  color: #FCA783;   
  font-size: 1.5em;
}  
input::placeholder {
  color: #4d6ed1;
  opacity: 0.8;
}
.form-group input {  
  width: 100%;  
  border-radius: 40px;  
  box-sizing: border-box;  
  height: 50px;
  margin: 10px 0;
  border: 5px solid transparent;
  background: rgba(255, 255, 255, .5);
  padding: 5px 20px 0 20px;
  transition: 0.3s;
  font-size: 18px;
} 

.form-group input:hover{
  background: rgba(255, 255, 255, 0);
  border: 5px solid #ffffff;
}

.footer {  
  display: flex;  
  justify-content:space-between;  
  align-items: center;  
  margin-bottom: 20px;  
}  

.remember-me {  
  color: #3020BA; 
  font-size: 20px;  
}  

.remember-me:hover{
  color: #529de2;
}

button[type="submit"] {  
  background-color: #FB9596; 
  color: #ffffff;  
  border: none;  
  padding: 10px 40px;  
  border-radius: 16px;  
  cursor: pointer;  
  font-size: 32px;  

}  

button[type="submit"]:hover {  
  background-color: #FDC7CA;   
}  

.Register,button[type="register"]{  
  background-color: #ffffff00;
  border: none;
  color: #3020BA; 
  text-decoration: none; 
  font-size: 20px;  
  
}  

button[type="register"]:hover {  
  color: #529de2;
}

.form-group input:focus {
  border: 5px solid #529de2;
  background: rgba(255, 255, 255, 0.7);
}

.error {
  border-color: red;
}
.error-message {
  color: red;
  font-size: 0.9em;
}